// These colors are specific to the theme. Do not use in a package!

@defaultcolor: #222222;

@tree-view-background-color:#f0f0f0;
@tree-view-color:@defaultcolor;


@sass:#E3449A;
@php: #CC4343;
@js:#2AA7EA;
@json:#75C0BE;
@comment:#CC9A43;
@important:#8B7A51;
@unimportant:#bbbbbb;


@very-light-gray: #c5c8c6;
@light-gray: #969896;
@gray: #373b41;
@dark-gray: #282a2e;
@very-dark-gray: #1d1f21;

@cyan: #8abeb7;
@blue: #81a2be;
@purple: #b294bb;
@green: #b5bd68;
@red: #cc6666;
@orange: #de935f;
@light-orange: #f0c674;
