/* git */

@basecolor:#0A0A0A;

.tree-view .tree-view-root {
  background-color: @basecolor;
  font-family: 'Lucida Grande','Ubuntu', 'Segoe UI',;
  letter-spacing: 1px;
  -webkit-font-smoothing: subpixel-antialiased;
}

.tree-view .list-tree li:not(.list-nested-item), .tree-view .list-tree li.list-nested-item > .list-item {
  color:white;
}

.scrollbars-visible-always {
  /deep/ ::-webkit-scrollbar {
    &-track {
      background-color: @basecolor!important;
    }
    &-corner { /* this is where the horizontal and the vertical scrollbar overlap, you probably don't need this */ }
    &-thumb {
      background-color: rgba( 255,255,255, 0.01 )!important;
      border:rgba( 255,255,255, 0.01 )!important;
    }
  }
}


.tab-bar, .tab-bar .tab {
  background-color: @basecolor;
  color:#999;
}
.tab-bar .tab.active {
  background-color: #010101!important;
}

.atom-dock-content-wrapper.left {
  .tab-bar .tab .title {
    color: lighten(@basecolor, 10% );
      background-color: @basecolor;
  }
}

// default git highlighting is already removed, replace with dots

.tree-view-dot-after( @color ) {
  color: @color;

  top: initial;
  line-height: inherit;
  height: inherit;
  vertical-align: middle;

  position: relative;
  top: -1px;
  margin-left: 5px;

  font-family: 'Octicons Regular';
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
  font-size: 1em;
  width: 1em;
  height: 1em;
  content: "\f052";

  // hide for now
  display:none!important;
}

.tree-view .file.status-added::after {
  .tree-view-dot-after( @text-color-added );
}
.tree-view .file.status-ignored::after {
  .tree-view-dot-after( @text-color-ignored );
}
.tree-view .file.status-modified::after {
  .tree-view-dot-after( @text-color-modified );
}

.tree-view .file.status-removed::after {
  .tree-view-dot-after( @text-color-removed );
}
.tree-view .file.status-renamed::after {
  .tree-view-dot-after( @text-color-renamed );
}


// highlight submodules
.tree-view .name.icon-file-submodule {
  color:@important;
  font-weight: bold;
}


// unterschiedlicher Rand pro Projekt Ordner
.tree-view .tree-view-root {

  padding:0;


  >*:nth-of-type( odd ) {

    border-left:4px solid #aaa;
  }
  >*:nth-of-type( even ) {

    border-left:4px solid #888;
  }

}

// fix select
.list-group .selected::before, .list-tree .selected::before {
  left:4px;
  background: rgba( 255,255,255, .2 );
}



// ordenr
.tree-view .directory .header .name {
  font-weight: bold;
}


/* file type highlighting */

@highlight_files:
           less @sass,
           scss @sass,
            css #E399C1,
            php @php, //#C7423C,
             js @js,
           json @json, //#7FD0CE,
            png @unimportant true,
            gif @unimportant true,
            jpg @unimportant true,
           jpeg @unimportant true,
            ico @unimportant true,
            cfg @unimportant true,
    '-6.config' @unimportant true,
            log @unimportant true,
           html @unimportant true,
            xml @unimportant true,
            txt @unimportant true,
            htm @unimportant true,
             db @unimportant true,
             md @unimportant true,
      gitignore @unimportant true,
            git @unimportant true,
     gitmodules @unimportant true,
       DS_Store @unimportant true,
            svg @unimportant true,
            pot #4EA081,
          '.oh' @important true,
      '.sketch' #FD5204 false,
        special #FF6E68,
 "package.json" @orange true,
  "gulpfile.js" @orange true,
       htaccess #4EA081 true,
    "style.css" @important
    //  unimportant @unimportant
  ;


@highlight_folders:
/*
          scss #FFDD68,
          sass #FFDD68,
           css @unimportant,
   stylesheets @unimportant,
            js #FFDD68,
    sass-cache @unimportant,
  node_modules @unimportant,
        _notes @unimportant,
         build @unimportant,
     languages #FFDD68,
     functions #FFDD68,
     templates #FFDD68,
        assets #FFDD68,
         fonts #FFDD68,
        images #FFDD68,
         admin #FFDD68 */
  'assets/sass' @sass true,
  'assets/js' @js true,
  'assets/images' @unimportant true,
  'assets/css' @unimportant true,
  'assets/acf' @json,
  'assets/dist' @unimportant,
  foobar #8B7A51
;


// file specific modifications

.mx-filetype( @filesuffix, @color, @tree_name: false ) {

  // icon in tree list
  .tree-view .file [data-name$= @{filesuffix} ]:before,
  // tab icon
  .tab .title[data-name$= @{filesuffix} ]:before  {
    color:@color;
  }

  .treename( @tree_name ) when ( @tree_name = true ) {
    .tree-view .file [data-name$= @{filesuffix} ] {
      color:@color;
    }
  }.treename( @tree_name );

}



// folder specific modifications

.mx-folder( @path, @color, @include_children : false ) {

  // icon in tree list
  .tree-view .directory>.header  [data-path$=@{path} ]{
    color:@color;
  }

  .include_children( @include_children ) when ( @include_children = true ) {
    // icon in tree list
    .tree-view .directory>.header [data-path*=@{path} ]{
      color:@color;
    }
  }.include_children( @include_children );

}






.fileTypeHighlightWorker( @iterator:1 ) when ( @iterator <= length( @highlight_files ) ) {

  @filesuffix: extract( extract( @highlight_files, @iterator ), 1);
  @color:      extract( extract( @highlight_files, @iterator ), 2);
  @tree_name:  extract( extract( @highlight_files, @iterator ), 3);

  // do the magic
  .mx-filetype( @filesuffix, @color, @tree_name );

  .fileTypeHighlightWorker( @iterator + 1 );

}.fileTypeHighlightWorker();


.folderTypeHighlightWorker( @iterator:1 ) when ( @iterator <= length( @highlight_folders ) ) {

  @path: extract( extract( @highlight_folders, @iterator ), 1);
  @color:      extract( extract( @highlight_folders, @iterator ), 2);
  @include_children:  extract( extract( @highlight_folders, @iterator ), 3);

  // do the magic
  .mx-folder( @path, @color, @include_children );

  .folderTypeHighlightWorker( @iterator + 1 );

}.folderTypeHighlightWorker();
