@tree-view-height: @ui-line-height;

.tree-view {
  font-size: @ui-size;
  background: @tree-view-background-color;
  color:@tree-view-color;

  .project-root.project-root {
    &:before {
      height: @ui-tab-height;
      background-clip: padding-box;
    }
    & > .header .name {
      line-height: @ui-tab-height;
    }
  }

  .selected:before {
    background: @tree-view-background-selected-color;


  }

  .list-tree {
    li:not(.list-nested-item),
    li.list-nested-item > .list-item {
      .text(normal);
      color:#333333;
    }
  }
}

.theme-one-dark-ui .tree-view .project-root.project-root::before {
  border-top: 1px solid transparent;
  background-clip: padding-box;
}

.tree-view-resizer {
  .tree-view-resize-handle {
    width: 8px;
  }
}

// Variable height, based on ems
.list-group li:not(.list-nested-item),
.list-tree li:not(.list-nested-item),
.list-group li.list-nested-item > .list-item,
.list-tree li.list-nested-item > .list-item {
  line-height: @tree-view-height;
}

.list-group .selected::before,
.list-tree .selected::before {
  height: @tree-view-height;
}

// icon
.list-group .icon,
.list-tree .icon {
  display: inline-block;
  height: inherit;
  &::before {
    top: initial;
    line-height: inherit;
    height: inherit;
    vertical-align: top;
  }
}

// Arrow icon
.list-group,
.list-tree {
  .header.header.header.header::before {
    top: initial;
    line-height: inherit;
    height: inherit;
    vertical-align: top;
  }
}
.tree-view .project-root-header.project-root-header.project-root-header.project-root-header::before {
  line-height: 2.5em;
}

// Active tree-view marker --------------

.tree-view::before {
  content: "";
  position: fixed;
  pointer-events: none;
  z-index: 1;
  height: @ui-tab-height;
  width: 2px;
  background: @accent-color;
  opacity: 0;
  transition: opacity .16s;
}

.tree-view:focus::before {
  opacity: 1;
  transition-duration: .32s;
}
